<div class="container">
<header class="py-3">
<div class=" row flex-nowrap justify-content-between align-items-center  header-main-wrap ">

  <nav class="navbar navbar-expand-lg header-main-wrap navbar-dark justify-content-between d-flex">
    <!-- PB - Purple -->
    <!--  <nav class="navbar  navbar-expand-lg navbar-dark" style="background-color: #563D7C;"> -->
    <!-- Red #E00201-->
    <!-- <nav class="navbar  navbar-expand-lg navbar-dark" style="background-color: #E00201;"> -->
    <!-- Green #009B00 -->
    <!-- <nav class="navbar  navbar-expand-lg navbar-dark" style="background-color: #009B00;"> -->

    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="../../../assets/pet_battle_logo.jpg" width="80" height="80" class="d-inline-block align-top" alt=" Pet Battle">
     
    </a>
    <!-- fix link hover issue-->
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none header-main" [ngbCollapse]="menuHidden">
      <div class="navbar-nav align-items-center">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
         <!-- <i class="fas fa-home"></i>-->
          <span translate> Home</span>
        </a>
          <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <!--     <i class="fas fa-question-circle"></i> -->
          <span translate> Random Cat</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/winner" routerLinkActive="active">
         <!--      <i class="fas fa-crown"></i> -->
          <span translate> Cat of the Week</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/tournament" routerLinkActive="active">
          <!--     <i class="fas fa-gamepad "></i> -->
          <span translate> Tournament</span>
        </a>
        <a class="nav-item nav-link text-uppercase" (click)="logout()">
            <!--   <i class="fas fa-sign-out-alt "></i> -->
          <span translate> {{ buttonText }}</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto "></div>
    </div>
  </nav>
</div>
</header>

</div>
