<div class="container">
  <div class="jumbotron-fluid p-3 p-md-5 text-white rounded headerbackground row ">
    <div class="col-sm">
      <h1 class="display-12 text-center ">It's Cat Vs Cat in this purrfect competition.</h1>
      <p class="lead my-3">
        The challenge is tough as these cats are all very fur-midable! There can be only one winner in this a-paw-ling
        competition, could you pawsibly choose just one cat?? You must be kitten-me!!
  </p>

 </div>
 <div class="col-sm overlay">
  <img style="width: 80%" src="../../assets/pet_component_logo.jpg">
  <p class="tagline"> Do you have the cutest pet?</p>
 <div class="text-center">
    <button type="button" class="btn btn-danger btn-sm btn-contest " (click)="open(content)">🐈 ENTER YOUR CAT TO CLAIM THE TITLE 🐈</button>
  </div>   

</div>
  </div>
</div>
<main class="container" role="main">
  <app-cats></app-cats>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add your cat 🐈</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="isImageSaved; else elseTemplate">
        <img class="modal-img" [src]="cardImageBase64" />
      </ng-container>
      <ng-template #elseTemplate>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTT1GKgFHP_ILthMtROZlsHlELrNayJKsIwNm-br0IVWqZZvvBd"
          class="modal-img"
        />
      </ng-template>
    </div>
    <div class="modal-footer">
      <input type="file" (change)="fileChangeEvent($event)" class="file-input-profile" />
      <span>
        <button type="button" class="btn btn-danger" (click)="removeImage()">Remove</button>
        <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Submit</button> -->
        <button type="button" class="btn btn-light" (click)="submitNewCat()">Submit</button>
        <span *ngIf="this.error">{{ error }}</span>
      </span>
    </div>
  </ng-template>
</main>
